In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\amitk\\Documents\\Naresh IT\\Python'

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
a=10
b=20
a,b
print(a,b)

10 20

In [11]:
a=10
b=20
c=a+b
print("Sum of 10 and 20 is",c)

Sum of 10 and 20 is 30

In [12]:
a=10
b=20
c=a+b
print("Sum of a and b is",c)

Sum of a and b is 30

In [18]:
a=10
b=20
c=a+b
print(f"Sum of {a} and {b} is: {c}")

Sum of 10 and 20 is: 30

In [19]:
a=10
b=20
c=a+b
print("Sum of",a,"and",b,"is:",c)

Sum of 10 and 20 is: 30

In [20]:
name="python"
age=10
city='hyd'
print("my name is",name, "im",age,"year old came from",city)

my name is python im 10 year old came from hyd

**Method-2:format**

In [22]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is 30")
print(f"sum of {a} and {b} is {c}")
print("sum of {} and {} is {}".format(a,b,c))

sum of 10 and 20 is 30
sum of 10 and 20 is 30
sum of 10 and 20 is 30

## Method 3: fstring

In [23]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is 30")
print("sum of {a} and {b} is {c}")
print(f"sum of {a} and {b} is {c}")

sum of 10 and 20 is 30
sum of {a} and {b} is {c}
sum of 10 and 20 is 30

In [24]:
a=100
b=200
c=a+b
d=a-b
e=a*b
f=a/b
print(f"the addition of {a} and {b} is: {c}")
print(f"the substration of {a} and {b} is: {d}")
print(f"the multipication of {a} and {b} is: {e}")
print(f"the division of {a} and {b} is: {f}")

the addition of 100 and 200 is: 300
the substration of 100 and 200 is: -100
the multipication of 100 and 200 is: 20000
the division of 100 and 200 is: 0.5

In [25]:
a=100
b=200

print(f"the addition of {a} and {b} is: {a+b}.")
print(f"the substration of {a} and {b} is: {a-b}.")
print(f"the multipication of {a} and {b} is: {a*b}.")
print(f"the division of {a} and {b} is: {a/b}.")

the addition of 100 and 200 is: 300.
the substration of 100 and 200 is: -100.
the multipication of 100 and 200 is: 20000.
the division of 100 and 200 is: 0.5.

In [31]:
a=100
b=200
c=300
print(f"the average of {a}, {b} and {c} is: {(a+b+c)/3}.")

the average of 100, 200 and 300 is: 200.0.

In [32]:
a=1003
b=2007
c=300
print(f"the average of {a}, {b} and {c} is: {(a+b+c)/3}.")

the average of 1003, 2007 and 300 is: 1103.3333333333333.

In [38]:
round(103.339333,2)

103.34

In [39]:
round(34.56)

35

In [40]:
round(34.477777777,1)
round(34.477777777,2)
round(34.477777777,3)

34.478

round(

In [42]:
a=1003
b=2007
c=300
avg=round((a+b+c)/3,2)
print(f"the average of {a}, {b} and {c} is: {avg}.")

the average of 1003, 2007 and 300 is: 1103.33.

In [43]:
r=100
pi=3.14
area=pi*r*r
print(f"area of circle is {area}.")

area of circle is 31400.0.

In [44]:
b=5
h=10
area=0.5*b*h
print(f"area of triangle is {area}.")

area of triangle is 25.0.

In [45]:
a=1003
b=2007
c=300
avg=round((a+b+c)/3,2)
print(f"the average of {a}, {b} and {c} is: {avg}.")

the average of 1003, 2007 and 300 is: 1103.33.

In [47]:
bill_amount=1000
tip_amount=50
total_bill=bill_amount+tip_amount
print(f"Total bill amount is {total_bill}.")

Total bill amount is 1050.

In [50]:
salary=250000
tax=30
tax_amount=salary*tax/100
print(f"the tax amount is {tax_amount}.")

the tax amount is 75000.0.

In [6]:
dollor=100
rupees=80
total=dollor*rupees
print(f"total amount in rupees:{dollor}$*{rupees}rs={total}rs.")

total amount in rupees:100$*80rs=8000rs.

In [9]:
weight=70
pounds=2.2
total=weight*pounds
print(f"weight in pounds is {weight}kg*{pounds}={total}lbs.")

weight in pounds is 70kg*2.2=154.0lbs.